
/* SECTION - CONTACT US */
.contact-us form {
  width: 100%;
  min-width: 9rem;
  margin-top: 5rem;
}

.input,
.text-area {
  width: 100%;
  max-width: 100%;
  margin: 5px 0;
  padding: 5px 1rem;
  border-radius: 3px;
  font-size: 1.5rem;
  border: 1px solid var(--main-footer-bg-color);
  color: #878787;
}

.input::placeholder,
.text-area::placeholder {
  color: #878787;
}

.text-area {
  height: 10rem;
}

.btn-submit {
  background-color: var(--main-footer-bg-color);
  color: var(--main-white);
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
}

.btn-submit {
  background-color: #e1aa2f;
}
/* SECTION - CONTACT US ENDS */

/* FOOTER */
footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: var(--main-footer-bg-color);
  padding: 5rem 0;
  font-size: 1.8rem;
  color: var(--main-white);
}

footer h4 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--main-footer-bg-color);
  font-weight: 100;
  font-family: 'Bebas Neue', sans-serif;
}
/* FOOTER ENDS */

